In [1]:
import pandas as pd
import numpy as np

a. From given dataset, clean the table with these criteria:
- Employee_ID is unique, please make sure this criterion is fulfilled
- Create a standard for name, gender, edu_lvl, job category, age, score, number phone,
and domicile column
- You can use your creativity to improve the table to be cleaner.
- Use python language. Please send us the script. You can use Jupyter
Notebook, or any IDE you comfortable with.

In [2]:
dataset1 = pd.read_excel("D:\Kerja\Dattabot\dataset_jul_2021.xlsx",'dataset1')

In [3]:
dataset2 = pd.read_excel("D:\Kerja\Dattabot\dataset_jul_2021.xlsx",'dataset2')

In [4]:
dataset3 = pd.read_excel("D:\Kerja\Dattabot\dataset_jul_2021.xlsx",'dataset3')

In [5]:
dataset = pd.concat([dataset1,dataset2,dataset3], ignore_index=True)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_ID        930 non-null    int64
 1   Name               930 non-null    object
 2   GENDER             930 non-null    object
 3   EDU_LVL            930 non-null    object
 4   JOB_CATEGORY       930 non-null    object
 5   AGE                930 non-null    int64
 6   Score              920 non-null    object
 7   Phone Number       930 non-null    int64
 8   Domicile_Province  930 non-null    object
dtypes: int64(3), object(6)
memory usage: 65.5+ KB

In [7]:
data = dataset.rename(columns={"Employee_ID":"Employee_Id", "GENDER":"Gender", "EDU_LVL":"Edu_Level", "JOB_CATEGORY":"Job_Category", "AGE":"Age", "Phone Number":"Phone_Number"})

In [8]:
data.head()

,Employee_Id,Name,Gender,Edu_Level,Job_Category,Age,Score,Phone_Number,Domicile_Province
0,1,Claire Gute,M,S1,Functional Expert Band 2,37,3.98,628315242420,DKI Jakarta
1,2,Darrin Van Huff,M,S2,Manager,42,4.15,85246790036,Jakarta
2,3,Sean O'Donnell,Male,SLTA,Staff,48,3.98,85246833311,JKT
3,4,Brosina Hoffman,M,S2,Manager,50,3.23,85246990032,West Java
4,5,Andrew Allen,F,S1,Trainee,20,-,85247028027,Jawa Barat

In [9]:
for i in range(len(data)):
    if data.loc[i,'Score']==' -   ':
        data.loc[i,'Score']='0'

In [10]:
data.Score.unique()

array([3.98, 4.15, 3.23, '0', 4.66, 4.71, 4.05, 4.86, 3.76, 3.42, 4.07,
       4.29, 4, 3.83, 4.26, 3.9, 4.14, 3.96, 4.02, 3.36, 3.81, 4.04, 5,
       3.82, 3.05, 4.55, 3.87, 3.68, 3.51, 3.92, 4.52, 4.27, 3.33, 4.31,
       4.44, 3.71, nan, 4.22, 3.74, 3.89, 4.4, 3.93, 4.54, 4.13, 4.03,
       4.33, 3.73, 3.55, 4.08, 4.11, 3.86, 3.75, 3.63, 3.62, 3.31, 4.12,
       3.85, 3.34, 4.06, 3.01, 3.91, 4.2, 3.69, 4.37, 3.14, 3.58, 4.7,
       4.34, 4.6, 4.23, 3.53, 3.6, 3.97, 4.21, 3.44, 3.56, 4.01, 2.98,
       4.43, 3.67, 4.41, 4.81, 4.64, 4.35, 4.73, 3.52, 3.07, 4.38, 4.53,
       4.49, 3.77, 3.72, 2.35, 3.15, 2.67, 3.41, 4.19, 4.1, 3.79, 4.92,
       3.28, 4.39, 3.18, 3.66, 3.43, 3.61, 4.56, 4.67, 4.16, 3.02, 4.62,
       4.99, 4.69, 4.32, 2.95, 4.51, 3.99, 4.76, 3.25, 2.93, 4.17, 2.63,
       3.8, 3.2, 4.09, 3.5, 3.3, 3.88, 4.96, 4.74, 4.18, 3.78, 3.29, 3.48,
       3.54, 3.94, 4.25, 3.84, 3.35, 3.49, 4.87, 4.47, 4.61, 3.47, 3.7,
       3.11, 3.22, 3.03, 3.27, 3.57, 3.12, 3.17, 3.39, 4.36, 4.42, 2.88,
       4.46, 4.68, 4.82, 4.5, 2.75, 3.08, 3.46, 4.45, 2.9, 2.89, 4.84,
       4.24, 2.91, 4.59, 2.68, 3.45, 4.3, 3.38, 3.95, 3.13, 4.77, 4.57,
       3.24, 4.75, 3.4, 2.84, 3.64, 2.87, 3.26, 2.45, 3.06, 3.21, 4.28,
       4.72, 4.88, 3.65, 3.04, 4.58, 4.48, 4.8, 2.92, 3.1, 4.9, 4.85,
       2.61], dtype=object)

In [11]:
data['Score']=data['Score'].astype(np.float64)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_Id        930 non-null    int64
 1   Name               930 non-null    object
 2   Gender             930 non-null    object
 3   Edu_Level          930 non-null    object
 4   Job_Category       930 non-null    object
 5   Age                930 non-null    int64
 6   Score              920 non-null    float64
 7   Phone_Number       930 non-null    int64
 8   Domicile_Province  930 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 65.5+ KB

In [13]:
data.Score.unique()

array([3.98, 4.15, 3.23, 0.  , 4.66, 4.71, 4.05, 4.86, 3.76, 3.42, 4.07,
       4.29, 4.  , 3.83, 4.26, 3.9 , 4.14, 3.96, 4.02, 3.36, 3.81, 4.04,
       5.  , 3.82, 3.05, 4.55, 3.87, 3.68, 3.51, 3.92, 4.52, 4.27, 3.33,
       4.31, 4.44, 3.71,  nan, 4.22, 3.74, 3.89, 4.4 , 3.93, 4.54, 4.13,
       4.03, 4.33, 3.73, 3.55, 4.08, 4.11, 3.86, 3.75, 3.63, 3.62, 3.31,
       4.12, 3.85, 3.34, 4.06, 3.01, 3.91, 4.2 , 3.69, 4.37, 3.14, 3.58,
       4.7 , 4.34, 4.6 , 4.23, 3.53, 3.6 , 3.97, 4.21, 3.44, 3.56, 4.01,
       2.98, 4.43, 3.67, 4.41, 4.81, 4.64, 4.35, 4.73, 3.52, 3.07, 4.38,
       4.53, 4.49, 3.77, 3.72, 2.35, 3.15, 2.67, 3.41, 4.19, 4.1 , 3.79,
       4.92, 3.28, 4.39, 3.18, 3.66, 3.43, 3.61, 4.56, 4.67, 4.16, 3.02,
       4.62, 4.99, 4.69, 4.32, 2.95, 4.51, 3.99, 4.76, 3.25, 2.93, 4.17,
       2.63, 3.8 , 3.2 , 4.09, 3.5 , 3.3 , 3.88, 4.96, 4.74, 4.18, 3.78,
       3.29, 3.48, 3.54, 3.94, 4.25, 3.84, 3.35, 3.49, 4.87, 4.47, 4.61,
       3.47, 3.7 , 3.11, 3.22, 3.03, 3.27, 3.57, 3.12, 3.17, 3.39, 4.36,
       4.42, 2.88, 4.46, 4.68, 4.82, 4.5 , 2.75, 3.08, 3.46, 4.45, 2.9 ,
       2.89, 4.84, 4.24, 2.91, 4.59, 2.68, 3.45, 4.3 , 3.38, 3.95, 3.13,
       4.77, 4.57, 3.24, 4.75, 3.4 , 2.84, 3.64, 2.87, 3.26, 2.45, 3.06,
       3.21, 4.28, 4.72, 4.88, 3.65, 3.04, 4.58, 4.48, 4.8 , 2.92, 3.1 ,
       4.9 , 4.85, 2.61])

In [14]:
data['Score']=data['Score'].replace(np.nan,0)

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_Id        930 non-null    int64
 1   Name               930 non-null    object
 2   Gender             930 non-null    object
 3   Edu_Level          930 non-null    object
 4   Job_Category       930 non-null    object
 5   Age                930 non-null    int64
 6   Score              930 non-null    float64
 7   Phone_Number       930 non-null    int64
 8   Domicile_Province  930 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 65.5+ KB

In [16]:
data.Score.unique()

array([3.98, 4.15, 3.23, 0.  , 4.66, 4.71, 4.05, 4.86, 3.76, 3.42, 4.07,
       4.29, 4.  , 3.83, 4.26, 3.9 , 4.14, 3.96, 4.02, 3.36, 3.81, 4.04,
       5.  , 3.82, 3.05, 4.55, 3.87, 3.68, 3.51, 3.92, 4.52, 4.27, 3.33,
       4.31, 4.44, 3.71, 4.22, 3.74, 3.89, 4.4 , 3.93, 4.54, 4.13, 4.03,
       4.33, 3.73, 3.55, 4.08, 4.11, 3.86, 3.75, 3.63, 3.62, 3.31, 4.12,
       3.85, 3.34, 4.06, 3.01, 3.91, 4.2 , 3.69, 4.37, 3.14, 3.58, 4.7 ,
       4.34, 4.6 , 4.23, 3.53, 3.6 , 3.97, 4.21, 3.44, 3.56, 4.01, 2.98,
       4.43, 3.67, 4.41, 4.81, 4.64, 4.35, 4.73, 3.52, 3.07, 4.38, 4.53,
       4.49, 3.77, 3.72, 2.35, 3.15, 2.67, 3.41, 4.19, 4.1 , 3.79, 4.92,
       3.28, 4.39, 3.18, 3.66, 3.43, 3.61, 4.56, 4.67, 4.16, 3.02, 4.62,
       4.99, 4.69, 4.32, 2.95, 4.51, 3.99, 4.76, 3.25, 2.93, 4.17, 2.63,
       3.8 , 3.2 , 4.09, 3.5 , 3.3 , 3.88, 4.96, 4.74, 4.18, 3.78, 3.29,
       3.48, 3.54, 3.94, 4.25, 3.84, 3.35, 3.49, 4.87, 4.47, 4.61, 3.47,
       3.7 , 3.11, 3.22, 3.03, 3.27, 3.57, 3.12, 3.17, 3.39, 4.36, 4.42,
       2.88, 4.46, 4.68, 4.82, 4.5 , 2.75, 3.08, 3.46, 4.45, 2.9 , 2.89,
       4.84, 4.24, 2.91, 4.59, 2.68, 3.45, 4.3 , 3.38, 3.95, 3.13, 4.77,
       4.57, 3.24, 4.75, 3.4 , 2.84, 3.64, 2.87, 3.26, 2.45, 3.06, 3.21,
       4.28, 4.72, 4.88, 3.65, 3.04, 4.58, 4.48, 4.8 , 2.92, 3.1 , 4.9 ,
       4.85, 2.61])

In [17]:
data.duplicated(subset=['Employee_Id'])

0      False
1      False
2      False
3      False
4      False
       ...
925    False
926    False
927    False
928    False
929    False
Length: 930, dtype: bool

In [18]:
data.Name.unique()

array(['Claire Gute', 'Darrin Van Huff', "Sean O'Donnell",
       'Brosina Hoffman', 'Andrew Allen', 'Irene Maddox', 'Harold Pawlan',
       'Pete Kriz', 'Alejandro Grove', 'Zuschuss Donatelli', 'Ken Black',
       'Sandra Flanagan', 'Emily Burns', 'Eric Hoffmann',
       'Tracy Blumstein', 'Matt Abelman%', 'Gene Hale,,', 'Steve Nguyen!',
       'Linda Cazamias', 'Ruben Ausman', 'Erin Smith', 'Odella Nelson',
       "Patrick O'Donnell", 'Lena Hernandez', 'Darren Powers',
       'Janet Molinari', 'Ted Butterfield', 'Kunst Miller',
       'Paul Stevenson', 'Brendan Sweed', 'Karen Daniels',
       'Henry MacAllister', 'Joel Eaton', 'Ken Brennan',
       'Stewart Carmichael', 'Duane Noonan', 'Julie Creighton',
       'Christopher Schild', 'Paul Gonzalez', 'Gary Mitchum', 'Jim Sink',
       'Karl Braun', 'Roger Barcio', 'Parhena Norris', 'Katherine Ducich',
       'Elpida Rittenbach', 'Rick Bensley', 'Gary Zandusky',
       'Lena Cacioppo', 'Janet Martin', 'Pete Armstrong', 'Cynthia Voltz',
       'Clay Ludtke', 'Ryan Crowe', 'Dave Kipp', 'Greg Guthrie',
       'Steven Cartwright', 'Alan Dominguez', 'Philip Fox',
       'Troy Staebel', 'Lindsay Shagiari', 'Dorothy Wardle',
       'Lena Creighton', 'Jonathan Doherty', 'Sally Hughsby',
       'Sandra Glassco', 'Helen Andreada', 'Maureen Gastineau',
       'Justin Ellison', 'Tamara Willingham', 'Stephanie Phelps',
       'Neil-Knudson', 'Dave Brooks', 'Nora Paige', 'Ted Trevino',
       'Eric Murdock', 'Ruben Dartt', 'Max Jones', 'Becky Martin',
       'Chad Sievert', 'Jennifer Braxton', 'Shirley Jackson', 'Jim Kriz',
       'David Kendrick', 'Robert Marley', 'Sally Knutson', 'Frank Merwin',
       'Alice McCarthy', 'Mark Packer', 'Mary Zewe', 'Cassandra Brandow',
       'Valerie Mitchum', 'Fred Hopkins', 'Maria Bertelson',
       'Bruce Stewart', 'Logan Currie', 'Heather Kirkland',
       'Laurel Elliston', 'Joseph Holt', 'Michael Stewart',
       'Victoria Wilson', 'Jonathan Howell', 'Joni Blumstein',
       'David Smith', 'Valerie Dominguez', 'Erin Ashbrook',
       'David Bremer', 'Ken Lonsdale', 'Dianna Wilson',
       'Logan Haushalter', 'Kelly Collister', 'Delfina Latchford',
       'Dan Reichenbach', 'Craig Carreira', 'Dorris liebe',
       'Sean Braxton', 'Roy Collins', 'Alan Hwang', 'Claudia Bergmann',
       'Christine Abelman', 'Kristen Hastings', 'Barry Blumstein',
       'Andrew Gjertsen', "Jas O'Carroll", 'Alan Haines', 'Nick Zandusky',
       'Kelly Lampkin', 'Alan Schoenberger', 'Corey Roper',
       'Shahid Hopkins', 'Ben Peterman', 'Thomas Seio', 'Andy Gerbode',
       'Sung Pak', 'Nathan Mautz', 'Frank Atkinson', 'Grace Kelly',
       'Don Jones', "Patrick O'Brill", 'John Lucas', 'Doug Bickford',
       'Alyssa Crouse', 'Clay Cheatham', 'Tamara Dahlen',
       'Adam Bellavance', 'Jeremy Lonsdale', 'Victoria Brennan',
       'Katrina Willman', 'Julia Dunbar', 'Michael Kennedy',
       'Guy Thornton', 'Arthur Gainer', 'Muhammed MacIntyre',
       'Allen Rosenblatt', 'Russell Applegate', 'Alejandro Savely',
       'Laura Armstrong', 'Denny Ordway', 'Dean Katz', 'Nathan Gelder',
       'Mike Vittorini', 'Jack Garza', 'Bart Pistole', 'Victor Preis',
       'Saphhira Shifley', 'Anna Gayman', 'Luke Foster',
       'Roy FranzÃ¶sisch', 'Keith Herrera', 'Kimberly Carter',
       'Caroline Jumper', 'Philip Brown', 'Michael Paige',
       'Natalie Fritzler', 'Shirley Daniels', 'Ken Heidel', 'Ross Baird',
       'Mike Kennedy', 'Philisse Overcash', 'Brenda Bowman', 'Pete Kriz.',
       'Troy Blackwell', 'Raymond Buch', 'Ed Braxton', 'Sanjit Chand',
       'Joseph Holt@', 'Tanja Norvell', 'Joni Sundaresam', 'Maya Herman',
       'Jeremy Pistek', 'Jeremy Ellison', 'John Grady', 'Xylona Preis',
       'Erin Mull', 'Michelle Tran', 'Sue Ann Reed', 'Carl Weiss',
       'Astrea Jones', 'Sonia Sunley', "Rose O'Brian", 'Maribeth Dona',
       'Maribeth Yedwab', 'Christopher Martinez', 'Lynn Smith',
       'Bradley Nguyen', 'Dean Braden', 'Matt Connell', 'Brian Dahlen',
       'Patricia Hirasaki', 'Mike Gockenbach', 'Karen Bern',
       'Jasper Cacioppo', 'Rob Lucas', 'Allen Armold', 'Emily Phan',
       'Darren Koutras', 'Bradley Drucker', 'Liz MacKendrick',
       'Adrian Shami', 'Bill Donatelli', 'Greg Tran', 'Ashley Jarboe',
       'Olvera Toch', 'Liz Pelletier', 'Cynthia Arntzen', 'Jeremy Farry',
       'Frank Preis', 'Ellis Ballard', 'Jennifer Ferguson',
       'Sarah Foster', 'Trudy Glocke', 'Carlos Soltero',
       'Charles Crestani', 'Dianna Vittorini', 'Bruce Degenhardt',
       'Zuschuss Carroll', 'Melanie Seite', 'Lena Radford',
       'Theone Pippenger', 'Chloris Kastensmidt', 'Alan Shonely',
       'Andrew Roberts', 'Nona Balk.,', 'Giulietta Dortch',
       'Clytie Kelty', 'Nat Gilpin', 'Christina Anderson',
       'Sylvia Foulston', "Meg O'Connel", 'Annie Thurman', 'Fred McMath',
       'Denny Joy', 'Max Engle', 'Justin Deggeller', 'John Lee',
       'Sean Christensen', 'Chuck Clark', 'Anthony Rawles',
       'Steven Roelle', 'Craig Reiter', 'Eugene Hildebrand',
       'Sibella Parks', 'Tiffany House', 'Resi PÃ¶lking', 'Rob Beeghly',
       'Carol Darley', 'Doug Jacobs', 'Grant Thornton', 'Michael Chen',
       'Ralph Arnett', 'Naresj Patel', 'Alan Barnes', 'Jesus Ocampo',
       'Jay Kimmel', 'Brad Norvell', 'David Philippe', 'Tracy Hopkins',
       'Arthur Prichep', 'Roland Schwarz', 'Seth Vernon',
       'Christine Kargatis', 'Ross DeVincentis', 'Mathew Reese',
       'Steve Chapman', 'Jay Fein', 'Emily Grady', 'Darrin Sayre',
       'Phillina Ober', 'Sung Shariari', 'Peter BÃ¼hler', 'Roland Fjeld',
       'Yoseph Carroll', 'Nona Balk', 'Debra Catini', 'Christine Phan',
       'Barry FranzÃ¶sisch', 'Lisa Hazard', 'Chris Selesnick',
       'Anthony Johnson', 'Benjamin Venier', 'Dan Lawera', 'Bryan Mills',
       'Liz Thompson', 'Joe Kamberova', 'Erica Smith', 'Rick Hansen',
       'Carlos Daly', 'Helen Wasserman', 'Mike Caudle', 'Gary McGarr',
       'Pauline Johnson', 'Bart Watters', 'Toby Ritter',
       'Patrick Gardner', 'James Lanier', 'Brian Moss', 'Eudokia Martin',
       'Art Foster', 'Guy Armstrong', 'Cyma Kinney', 'Dave Poirier',
       'Berenike Kampe', 'Sanjit Jacobs', 'Chuck Magee', 'Anthony Jacobs',
       'Linda Southworth', 'Guy Phonely', 'Paul Knutson',
       'Sally Matthias', 'Anthony Garverick', 'Peter McVee',
       'Lauren Leatherbury', 'Jill Stevenson', 'Ed Ludwig',
       'Pamela Coakley', 'Hunter Lopez', 'Maribeth Schnelling',
       'George Bell', 'Justin Ritter', 'Bill Eplett', 'Sample Company A',
       'Rob Williams', 'Sanjit Engle', 'Adam Hart', 'Jessica Myrick',
       'Joel Jenkins', 'Ralph Kennedy', 'Catherine Glotzbach',
       'Rachel Payne', 'Karen Carlisle', 'Katherine Hughes',
       'Greg Hansen', 'Scott Williamson', 'Joseph Airdo', 'Daniel Lacy',
       'Lindsay Williams', 'Thomas Brumley', 'Bryan Spruell',
       'Robert Waldorf', 'Tracy Zic', 'Ann Steele', 'Toby Swindell',
       'Sara Luxemburg', 'Mitch Willingham', 'Rob Dowd', 'Ryan Akin',
       'Meg Tillman', 'Vivek Gonzalez', 'John Stevenson', 'Kalyca Meade',
       'Hallie Redmond', 'Deanra Eno', 'Allen Goldenen',
       'Jennifer Jackson', 'Jennifer Halladay', 'Robert Dilbeck',
       "Mary O'Rourke", 'Noel Staavos', 'Steve Nguyen', 'Deirdre Greer',
       'Nicole Fjeld', 'Matthew Grinstein', 'Theresa Swint',
       'Brian DeCherney', 'Charles McCrossin', 'Skye Norling',
       'Erica Hernandez', 'Frank Olsen', 'Maurice Satty',
       'Chad Cunningham', 'Don Weiss', 'Bill Tyler', 'Craig Yedwab',
       'Brad Thomas', 'Penelope Sewall', 'Paul Van Hugh', 'Neoma Murray',
       'Dionis Lloyd', 'Christine Sundaresam', 'Frank Hawley',
       'Nat Carroll', 'Alex Avila', 'Larry Tron', 'Anne Pryor',
       'Paul MacIntyre', 'Alyssa Tate', 'Cathy Armstrong', 'Harold Ryan',
       'Bradley Talbott', 'Larry Hughes', 'Steven Ward',
       'Stefania Perrino', 'Ben Ferrer', 'Kean Thornton',
       'Brooke Gillingham', 'Greg Matthias', 'Eva Jacobs', 'Nora Preis',
       'Mick Hernandez', 'Jocasta Rupert', 'Suzanne McNair',
       'Chris Cortes', 'Phillip Flathmann', 'Dan Campbell', 'Bryan Davis',
       'Gene McClure', 'Todd Boyes', 'Justin Hirsh', 'Erica Bern',
       'Quincy Jones', 'Tracy Collins', 'Chuck Sachs', 'Henry Goldwyn',
       'Laurel Workman', 'Matt Collins', 'Liz Preis', 'Evan Bailliet',
       'George Zrebassa', 'Cathy Prescott', 'Frank Gastineau',
       'Lisa DeCherney', 'Alejandro Ballentine', 'Michael Nguyen',
       'Jim Radford', 'Jamie Frazer', 'Chad McGuire', 'Aaron Smayling',
       'Beth Paige', 'Natalie DeCherney', 'Larry Blacks', 'Kean Takahito',
       'Harry Marie', 'Ann Blume', 'Sam Zeldin', 'Michael Granlund',
       'Julie Kriz', 'Paul Prost', 'Yana Sorensen', 'Katherine Murray',
       'Adrian Barton', 'Helen Abelman', 'Beth Thompson', 'Stuart Van',
       'Rick Wilson', 'Damala Kotsonis', 'Shui Tom', 'Michael Moore',
       'Pauline Webber', 'Shaun Chance', 'Thais Sissman', 'Mark Cousins',
       'Maria Etezadi', 'Nicole Hansen', 'Mick Brown', 'Keith Dawkins',
       'Katherine Nockton', 'Nora Pelletier', 'Cindy Stewart',
       'Maxwell Schwartz', 'Corinna Mitchell', 'Corey-Lock',
       'Todd Sumrall', 'Jane Waco', 'John Dryer', 'Neil Knudson',
       'Pauline Chand', 'Andy Reiter', 'Arianne Irving',
       'Tom Boeckenhauer', 'Paul Lucas', 'Gary Hwang', 'Mike Pelletier',
       'Jim Mitchum', 'Carl Ludwig', 'Deborah Brumfield', 'Ivan Gibson',
       'Bobby Odegard', 'Aimee Bixby', 'Julia West', 'Edward Becker',
       'Sheri Gordon', 'Charlotte Melton', 'Anthony Witt',
       'Mick Crebagga', 'Tonja Turnell', 'Vivek Grady', 'Muhammed Yedwab',
       'Rick Duston', 'Dennis Pardue', 'Marina Lichtenstein',
       'Jenna Caffey', 'James Galang', 'Marc Crier', 'Natalie Webber',
       'Toby Braunhardt', 'Bill Stewart', 'Hilary Holden',
       'Christina DeMoss', 'Thea Hendricks', 'Michelle Moray',
       'Neola Schneider', 'Robert Barroso', 'Shaun Weien', 'Eric Barreto',
       'Pamela Stobb', 'Herbert Flentye', 'Henia Zydlo',
       'Cynthia Delaney', 'Jamie Kunitz', 'Filia McAdams', 'Emily Ducich',
       'Dianna Arnett', 'Joni Wasserman', 'Raymond Messe', 'Max Ludwig',
       'Craig Carroll', 'Jim Epp', 'Roy Phan', 'Thomas Boland',
       'Brad Eason', 'Jill Fjeld', 'Phillip Breyer', 'Brian Thompson',
       'Janet Lee', 'Cathy Hwang', 'Neil Ducich', 'Barbara Fisher',
       'Katharine Harms', 'Giulietta Weimer', 'Noah Childs',
       'Michelle Ellison', 'Benjamin Patterson', 'John Castell',
       'Adam Shillingsburg', 'Amy Cox'], dtype=object)

In [19]:
import re

In [20]:
for i in range(len(data)):
    data.loc[i,'Name']=re.sub(r"\W+|_", " ",data.loc[i,"Name"])

In [21]:
data.Name.unique()

array(['Claire Gute', 'Darrin Van Huff', 'Sean O Donnell',
       'Brosina Hoffman', 'Andrew Allen', 'Irene Maddox', 'Harold Pawlan',
       'Pete Kriz', 'Alejandro Grove', 'Zuschuss Donatelli', 'Ken Black',
       'Sandra Flanagan', 'Emily Burns', 'Eric Hoffmann',
       'Tracy Blumstein', 'Matt Abelman ', 'Gene Hale ', 'Steve Nguyen ',
       'Linda Cazamias', 'Ruben Ausman', 'Erin Smith', 'Odella Nelson',
       'Patrick O Donnell', 'Lena Hernandez', 'Darren Powers',
       'Janet Molinari', 'Ted Butterfield', 'Kunst Miller',
       'Paul Stevenson', 'Brendan Sweed', 'Karen Daniels',
       'Henry MacAllister', 'Joel Eaton', 'Ken Brennan',
       'Stewart Carmichael', 'Duane Noonan', 'Julie Creighton',
       'Christopher Schild', 'Paul Gonzalez', 'Gary Mitchum', 'Jim Sink',
       'Karl Braun', 'Roger Barcio', 'Parhena Norris', 'Katherine Ducich',
       'Elpida Rittenbach', 'Rick Bensley', 'Gary Zandusky',
       'Lena Cacioppo', 'Janet Martin', 'Pete Armstrong', 'Cynthia Voltz',
       'Clay Ludtke', 'Ryan Crowe', 'Dave Kipp', 'Greg Guthrie',
       'Steven Cartwright', 'Alan Dominguez', 'Philip Fox',
       'Troy Staebel', 'Lindsay Shagiari', 'Dorothy Wardle',
       'Lena Creighton', 'Jonathan Doherty', 'Sally Hughsby',
       'Sandra Glassco', 'Helen Andreada', 'Maureen Gastineau',
       'Justin Ellison', 'Tamara Willingham', 'Stephanie Phelps',
       'Neil Knudson', 'Dave Brooks', 'Nora Paige', 'Ted Trevino',
       'Eric Murdock', 'Ruben Dartt', 'Max Jones', 'Becky Martin',
       'Chad Sievert', 'Jennifer Braxton', 'Shirley Jackson', 'Jim Kriz',
       'David Kendrick', 'Robert Marley', 'Sally Knutson', 'Frank Merwin',
       'Alice McCarthy', 'Mark Packer', 'Mary Zewe', 'Cassandra Brandow',
       'Valerie Mitchum', 'Fred Hopkins', 'Maria Bertelson',
       'Bruce Stewart', 'Logan Currie', 'Heather Kirkland',
       'Laurel Elliston', 'Joseph Holt', 'Michael Stewart',
       'Victoria Wilson', 'Jonathan Howell', 'Joni Blumstein',
       'David Smith', 'Valerie Dominguez', 'Erin Ashbrook',
       'David Bremer', 'Ken Lonsdale', 'Dianna Wilson',
       'Logan Haushalter', 'Kelly Collister', 'Delfina Latchford',
       'Dan Reichenbach', 'Craig Carreira', 'Dorris liebe',
       'Sean Braxton', 'Roy Collins', 'Alan Hwang', 'Claudia Bergmann',
       'Christine Abelman', 'Kristen Hastings', 'Barry Blumstein',
       'Andrew Gjertsen', 'Jas O Carroll', 'Alan Haines', 'Nick Zandusky',
       'Kelly Lampkin', 'Alan Schoenberger', 'Corey Roper',
       'Shahid Hopkins', 'Ben Peterman', 'Thomas Seio', 'Andy Gerbode',
       'Sung Pak', 'Nathan Mautz', 'Frank Atkinson', 'Grace Kelly',
       'Don Jones', 'Patrick O Brill', 'John Lucas', 'Doug Bickford',
       'Alyssa Crouse', 'Clay Cheatham', 'Tamara Dahlen',
       'Adam Bellavance', 'Jeremy Lonsdale', 'Victoria Brennan',
       'Katrina Willman', 'Julia Dunbar', 'Michael Kennedy',
       'Guy Thornton', 'Arthur Gainer', 'Muhammed MacIntyre',
       'Allen Rosenblatt', 'Russell Applegate', 'Alejandro Savely',
       'Laura Armstrong', 'Denny Ordway', 'Dean Katz', 'Nathan Gelder',
       'Mike Vittorini', 'Jack Garza', 'Bart Pistole', 'Victor Preis',
       'Saphhira Shifley', 'Anna Gayman', 'Luke Foster',
       'Roy FranzÃ sisch', 'Keith Herrera', 'Kimberly Carter',
       'Caroline Jumper', 'Philip Brown', 'Michael Paige',
       'Natalie Fritzler', 'Shirley Daniels', 'Ken Heidel', 'Ross Baird',
       'Mike Kennedy', 'Philisse Overcash', 'Brenda Bowman', 'Pete Kriz ',
       'Troy Blackwell', 'Raymond Buch', 'Ed Braxton', 'Sanjit Chand',
       'Joseph Holt ', 'Tanja Norvell', 'Joni Sundaresam', 'Maya Herman',
       'Jeremy Pistek', 'Jeremy Ellison', 'John Grady', 'Xylona Preis',
       'Erin Mull', 'Michelle Tran', 'Sue Ann Reed', 'Carl Weiss',
       'Astrea Jones', 'Sonia Sunley', 'Rose O Brian', 'Maribeth Dona',
       'Maribeth Yedwab', 'Christopher Martinez', 'Lynn Smith',
       'Bradley Nguyen', 'Dean Braden', 'Matt Connell', 'Brian Dahlen',
       'Patricia Hirasaki', 'Mike Gockenbach', 'Karen Bern',
       'Jasper Cacioppo', 'Rob Lucas', 'Allen Armold', 'Emily Phan',
       'Darren Koutras', 'Bradley Drucker', 'Liz MacKendrick',
       'Adrian Shami', 'Bill Donatelli', 'Greg Tran', 'Ashley Jarboe',
       'Olvera Toch', 'Liz Pelletier', 'Cynthia Arntzen', 'Jeremy Farry',
       'Frank Preis', 'Ellis Ballard', 'Jennifer Ferguson',
       'Sarah Foster', 'Trudy Glocke', 'Carlos Soltero',
       'Charles Crestani', 'Dianna Vittorini', 'Bruce Degenhardt',
       'Zuschuss Carroll', 'Melanie Seite', 'Lena Radford',
       'Theone Pippenger', 'Chloris Kastensmidt', 'Alan Shonely',
       'Andrew Roberts', 'Nona Balk ', 'Giulietta Dortch', 'Clytie Kelty',
       'Nat Gilpin', 'Christina Anderson', 'Sylvia Foulston',
       'Meg O Connel', 'Annie Thurman', 'Fred McMath', 'Denny Joy',
       'Max Engle', 'Justin Deggeller', 'John Lee', 'Sean Christensen',
       'Chuck Clark', 'Anthony Rawles', 'Steven Roelle', 'Craig Reiter',
       'Eugene Hildebrand', 'Sibella Parks', 'Tiffany House',
       'Resi PÃ lking', 'Rob Beeghly', 'Carol Darley', 'Doug Jacobs',
       'Grant Thornton', 'Michael Chen', 'Ralph Arnett', 'Naresj Patel',
       'Alan Barnes', 'Jesus Ocampo', 'Jay Kimmel', 'Brad Norvell',
       'David Philippe', 'Tracy Hopkins', 'Arthur Prichep',
       'Roland Schwarz', 'Seth Vernon', 'Christine Kargatis',
       'Ross DeVincentis', 'Mathew Reese', 'Steve Chapman', 'Jay Fein',
       'Emily Grady', 'Darrin Sayre', 'Phillina Ober', 'Sung Shariari',
       'Peter BÃ¼hler', 'Roland Fjeld', 'Yoseph Carroll', 'Nona Balk',
       'Debra Catini', 'Christine Phan', 'Barry FranzÃ sisch',
       'Lisa Hazard', 'Chris Selesnick', 'Anthony Johnson',
       'Benjamin Venier', 'Dan Lawera', 'Bryan Mills', 'Liz Thompson',
       'Joe Kamberova', 'Erica Smith', 'Rick Hansen', 'Carlos Daly',
       'Helen Wasserman', 'Mike Caudle', 'Gary McGarr', 'Pauline Johnson',
       'Bart Watters', 'Toby Ritter', 'Patrick Gardner', 'James Lanier',
       'Brian Moss', 'Eudokia Martin', 'Art Foster', 'Guy Armstrong',
       'Cyma Kinney', 'Dave Poirier', 'Berenike Kampe', 'Sanjit Jacobs',
       'Chuck Magee', 'Anthony Jacobs', 'Linda Southworth', 'Guy Phonely',
       'Paul Knutson', 'Sally Matthias', 'Anthony Garverick',
       'Peter McVee', 'Lauren Leatherbury', 'Jill Stevenson', 'Ed Ludwig',
       'Pamela Coakley', 'Hunter Lopez', 'Maribeth Schnelling',
       'George Bell', 'Justin Ritter', 'Bill Eplett', 'Sample Company A',
       'Rob Williams', 'Sanjit Engle', 'Adam Hart', 'Jessica Myrick',
       'Joel Jenkins', 'Ralph Kennedy', 'Catherine Glotzbach',
       'Rachel Payne', 'Karen Carlisle', 'Katherine Hughes',
       'Greg Hansen', 'Scott Williamson', 'Joseph Airdo', 'Daniel Lacy',
       'Lindsay Williams', 'Thomas Brumley', 'Bryan Spruell',
       'Robert Waldorf', 'Tracy Zic', 'Ann Steele', 'Toby Swindell',
       'Sara Luxemburg', 'Mitch Willingham', 'Rob Dowd', 'Ryan Akin',
       'Meg Tillman', 'Vivek Gonzalez', 'John Stevenson', 'Kalyca Meade',
       'Hallie Redmond', 'Deanra Eno', 'Allen Goldenen',
       'Jennifer Jackson', 'Jennifer Halladay', 'Robert Dilbeck',
       'Mary O Rourke', 'Noel Staavos', 'Steve Nguyen', 'Deirdre Greer',
       'Nicole Fjeld', 'Matthew Grinstein', 'Theresa Swint',
       'Brian DeCherney', 'Charles McCrossin', 'Skye Norling',
       'Erica Hernandez', 'Frank Olsen', 'Maurice Satty',
       'Chad Cunningham', 'Don Weiss', 'Bill Tyler', 'Craig Yedwab',
       'Brad Thomas', 'Penelope Sewall', 'Paul Van Hugh', 'Neoma Murray',
       'Dionis Lloyd', 'Christine Sundaresam', 'Frank Hawley',
       'Nat Carroll', 'Alex Avila', 'Larry Tron', 'Anne Pryor',
       'Paul MacIntyre', 'Alyssa Tate', 'Cathy Armstrong', 'Harold Ryan',
       'Bradley Talbott', 'Larry Hughes', 'Steven Ward',
       'Stefania Perrino', 'Ben Ferrer', 'Kean Thornton',
       'Brooke Gillingham', 'Greg Matthias', 'Eva Jacobs', 'Nora Preis',
       'Mick Hernandez', 'Jocasta Rupert', 'Suzanne McNair',
       'Chris Cortes', 'Phillip Flathmann', 'Dan Campbell', 'Bryan Davis',
       'Gene McClure', 'Todd Boyes', 'Justin Hirsh', 'Erica Bern',
       'Quincy Jones', 'Tracy Collins', 'Chuck Sachs', 'Henry Goldwyn',
       'Laurel Workman', 'Matt Collins', 'Liz Preis', 'Evan Bailliet',
       'George Zrebassa', 'Cathy Prescott', 'Frank Gastineau',
       'Lisa DeCherney', 'Alejandro Ballentine', 'Michael Nguyen',
       'Jim Radford', 'Jamie Frazer', 'Chad McGuire', 'Aaron Smayling',
       'Beth Paige', 'Natalie DeCherney', 'Larry Blacks', 'Kean Takahito',
       'Harry Marie', 'Ann Blume', 'Sam Zeldin', 'Michael Granlund',
       'Julie Kriz', 'Paul Prost', 'Yana Sorensen', 'Katherine Murray',
       'Adrian Barton', 'Helen Abelman', 'Beth Thompson', 'Stuart Van',
       'Rick Wilson', 'Damala Kotsonis', 'Shui Tom', 'Michael Moore',
       'Pauline Webber', 'Shaun Chance', 'Thais Sissman', 'Mark Cousins',
       'Maria Etezadi', 'Nicole Hansen', 'Mick Brown', 'Keith Dawkins',
       'Katherine Nockton', 'Nora Pelletier', 'Cindy Stewart',
       'Maxwell Schwartz', 'Corinna Mitchell', 'Corey Lock',
       'Todd Sumrall', 'Jane Waco', 'John Dryer', 'Pauline Chand',
       'Andy Reiter', 'Arianne Irving', 'Tom Boeckenhauer', 'Paul Lucas',
       'Gary Hwang', 'Mike Pelletier', 'Jim Mitchum', 'Carl Ludwig',
       'Deborah Brumfield', 'Ivan Gibson', 'Bobby Odegard', 'Aimee Bixby',
       'Julia West', 'Edward Becker', 'Sheri Gordon', 'Charlotte Melton',
       'Anthony Witt', 'Mick Crebagga', 'Tonja Turnell', 'Vivek Grady',
       'Muhammed Yedwab', 'Rick Duston', 'Dennis Pardue',
       'Marina Lichtenstein', 'Jenna Caffey', 'James Galang',
       'Marc Crier', 'Natalie Webber', 'Toby Braunhardt', 'Bill Stewart',
       'Hilary Holden', 'Christina DeMoss', 'Thea Hendricks',
       'Michelle Moray', 'Neola Schneider', 'Robert Barroso',
       'Shaun Weien', 'Eric Barreto', 'Pamela Stobb', 'Herbert Flentye',
       'Henia Zydlo', 'Cynthia Delaney', 'Jamie Kunitz', 'Filia McAdams',
       'Emily Ducich', 'Dianna Arnett', 'Joni Wasserman', 'Raymond Messe',
       'Max Ludwig', 'Craig Carroll', 'Jim Epp', 'Roy Phan',
       'Thomas Boland', 'Brad Eason', 'Jill Fjeld', 'Phillip Breyer',
       'Brian Thompson', 'Janet Lee', 'Cathy Hwang', 'Neil Ducich',
       'Barbara Fisher', 'Katharine Harms', 'Giulietta Weimer',
       'Noah Childs', 'Michelle Ellison', 'Benjamin Patterson',
       'John Castell', 'Adam Shillingsburg', 'Amy Cox'], dtype=object)

In [22]:
data.Gender.unique()

array(['M', 'Male', 'F', 'Pria', 'Man', 'Laki-laki', 'Perempuan',
       'Wanita', 'Female'], dtype=object)

In [23]:
for i in range(len(data)):
    if data.loc[i,'Gender']=='M' or data.loc[i,'Gender']=='Pria' or data.loc[i,'Gender']=='Laki-laki' or data.loc[i,'Gender']=='Man':
        data.loc[i,'Gender']='Male'
    elif data.loc[i,'Gender']=='F' or data.loc[i,'Gender']=='Perempuan' or data.loc[i,'Gender']=='Wanita':
        data.loc[i,'Gender']='Female'

In [24]:
data.Edu_Level.unique()

array(['S1', 'S2', 'SLTA', 'D3', 'SMA', 'D1', 'D4'], dtype=object)

In [25]:
for i in range(len(data)):
    if data.loc[i,'Edu_Level']=='SMA':
        data.loc[i,'Edu_Level']='SLTA'

In [26]:
data.Job_Category.unique()

array(['Functional Expert Band 2', 'Manager', 'Staff', 'Trainee',
       'Supervisor', 'Senior Staff Band 2', 'Senior Staff Band 3',
       'Secretary', 'Functional Expert Band 3', 'Senior Vice President',
       'Vice President', 'Senior Staff Band 5'], dtype=object)

I use the assumption that:
1. Manager is included in the Functinal expert band 2.
2. Supervisor is included in the Functinal expert band 3.
3. Secretary is included in the senior staff of band 2.
4. Staff is included in the senior staff band 3.
5. Trainee is included in the senior staff of the band 5.

In [27]:
for i in range(len(data)):
    if data.loc[i,'Job_Category']=='Manager':
        data.loc[i,'Job_Category']='Functional Expert Band 2'
    elif data.loc[i,'Job_Category']=='Supervisor':
        data.loc[i,'Job_Category']='Functional Expert Band 3'
    elif data.loc[i,'Job_Category']=='Secretary':
        data.loc[i,'Job_Category']='Senior Staff Band 2'
    elif data.loc[i,'Job_Category']=='Staff':
        data.loc[i,'Job_Category']='Senior Staff Band 3'
    elif data.loc[i,'Job_Category']=='Trainee':
        data.loc[i,'Job_Category']='Senior Staff Band 5'

In [28]:
data.Age.unique()

array([37, 42, 48, 50, 20, 43, 27, 26, 32, 41, 40, 29, 31, 44, 35, 24, 34,
       49, 47, 46, 54, 33, 45, 52, 38, 55, 28, 25, 39, 23, 36, 30, 53, 51,
       22], dtype=int64)

In [29]:
data.Score.unique()

array([3.98, 4.15, 3.23, 0.  , 4.66, 4.71, 4.05, 4.86, 3.76, 3.42, 4.07,
       4.29, 4.  , 3.83, 4.26, 3.9 , 4.14, 3.96, 4.02, 3.36, 3.81, 4.04,
       5.  , 3.82, 3.05, 4.55, 3.87, 3.68, 3.51, 3.92, 4.52, 4.27, 3.33,
       4.31, 4.44, 3.71, 4.22, 3.74, 3.89, 4.4 , 3.93, 4.54, 4.13, 4.03,
       4.33, 3.73, 3.55, 4.08, 4.11, 3.86, 3.75, 3.63, 3.62, 3.31, 4.12,
       3.85, 3.34, 4.06, 3.01, 3.91, 4.2 , 3.69, 4.37, 3.14, 3.58, 4.7 ,
       4.34, 4.6 , 4.23, 3.53, 3.6 , 3.97, 4.21, 3.44, 3.56, 4.01, 2.98,
       4.43, 3.67, 4.41, 4.81, 4.64, 4.35, 4.73, 3.52, 3.07, 4.38, 4.53,
       4.49, 3.77, 3.72, 2.35, 3.15, 2.67, 3.41, 4.19, 4.1 , 3.79, 4.92,
       3.28, 4.39, 3.18, 3.66, 3.43, 3.61, 4.56, 4.67, 4.16, 3.02, 4.62,
       4.99, 4.69, 4.32, 2.95, 4.51, 3.99, 4.76, 3.25, 2.93, 4.17, 2.63,
       3.8 , 3.2 , 4.09, 3.5 , 3.3 , 3.88, 4.96, 4.74, 4.18, 3.78, 3.29,
       3.48, 3.54, 3.94, 4.25, 3.84, 3.35, 3.49, 4.87, 4.47, 4.61, 3.47,
       3.7 , 3.11, 3.22, 3.03, 3.27, 3.57, 3.12, 3.17, 3.39, 4.36, 4.42,
       2.88, 4.46, 4.68, 4.82, 4.5 , 2.75, 3.08, 3.46, 4.45, 2.9 , 2.89,
       4.84, 4.24, 2.91, 4.59, 2.68, 3.45, 4.3 , 3.38, 3.95, 3.13, 4.77,
       4.57, 3.24, 4.75, 3.4 , 2.84, 3.64, 2.87, 3.26, 2.45, 3.06, 3.21,
       4.28, 4.72, 4.88, 3.65, 3.04, 4.58, 4.48, 4.8 , 2.92, 3.1 , 4.9 ,
       4.85, 2.61])

In [30]:
data.Phone_Number.unique()

array([ 628315242420,   85246790036,   85246833311,   85246990032,
         85247028027,   85247198103, 6285247276106, 6285247353711,
       6285247484084, 6285247594109, 6285247668025, 6285247719140,
       6285247884057,   85247990049,   85247919140,   85247977095,
         85247975080,   85247977041,   85247960540,  628315232935,
         85246755122,   85246848185,   85246919901,   85247047150,
         85247110024, 6285247212180, 6285247390004, 6285247460610,
       6285247585234, 6285247622153, 6285247710009, 6285247849201,
         85247938109,   85247977070,   85247935601,   85247994122,
         85247927707,   85247960623,  628315229203,   85246755901,
         85246877095,   85246990036,   85247055407,   85247197206,
       6285247210009, 6285247394122, 6285247455106, 6285247560610,
       6285247655901, 6285247780013, 6285247828205,   85247960462,
         85247910035,   85247950322,   85247943229,   85247998103,
         85247937620,   85247919805,  628315277041,   85246761701,
         85246885023,   85246990004,   85247043229,   85247195661,
       6285247219140, 6285247464055, 6285247591104, 6285247643055,
       6285247753132, 6285247885254,   85247995123,   85247998105,
         85247998115,   85247973034,   85247990045,   85247919134,
         85247988220,  628315298115,   85246778207,   85246890004,
         85246960623,   85247077036,   85247143055, 6285247362521,
       6285247471203,  628524756824, 6285247690032, 6285247775051,
       6285247810035,   85247992374,   85247945011,    8524797090,
         85247919120,   85247944312,   85247980219,   85247975220,
        628315237064,   85246790604,   85246848601,   85246975220,
         85247044256,   85247190032, 6285247243017, 6285247348227,
       6285247438401, 6285247528205, 6285247633614, 6285247795051,
       6285247860610,   85247955044,   85247994109,   85247992037,
         85247910024,   85247910009,   85247977506,  628315277036,
         85246760610,   85246894513,   85246927514,    8524707960,
         85247145231, 6285247294110, 6285247394109, 6285247490301,
       6285247519140, 6285247677070, 6285247790004, 6285247897206,
         85247933319,   85247980906,    8524797109,   85247948180,
         62831528701,   85246722204,   85246880004,    8524697601,
         85247033710,   85247119143, 6285247210024, 6285247390805,
       6285247492345, 6285247537130, 6285247619143, 6285247719134,
       6285247890045,   85247984041,   85247978745,    8524791852,
        628315228205,   85246731907,   85246810009,   85246994109,
          8524706040,   85247178550, 6285247285705, 6285247362301,
        628524742038, 6285247577095, 6285247694109, 6285247748180,
       6285247833024,   85247945231,   85247998198,   85247961604,
         85247989115,    8524792886,  628315249201,   85246777036,
         85246833180,   85246928403,   85247010024,   85247194110,
       6285247298105, 6285247392646, 6285247490004, 6285247540475,
       6285247690045, 6285247780027,  628524781841,   85247939212,
         85247948187,   85247910801,   85247978207,   85247928052,
         85247932216,  628315260623,   85246777070,   85246810024,
         85246948227,   85247047201,   85247113021, 6285247244312,
       6285247373071, 6285247494521, 6285247562521, 6285247698115,
       6285247785023, 6285247860068,   85247979109,   85247960610,
         85247911757,   85247994110,   85247990008,   85247912180,
        628315292024,   85246710024,   85246890045,   85246960610,
         85247077340,   85247114609, 6285247298115, 6285247338109,
       6285247472701, 6285247592627, 6285247680134, 6285247710024,
       6285247830318,   85247964118,   85247943055,   85247959405,
         85247948234,   85247990032,   62831521841,   85246733801,
         85246819134,   85247090032,   85247136116, 6285247285204,
       6285247360653, 6285247410009, 6285247542420, 6285247654302,
       6285247785705, 6285247845503,   85247976106,   85247960653,
         85247992804,  628315228403,   85246790045,   85246894110,
         85246933614,   85247098105,   85247190008, 6285247310024,
       6285247498270, 6285247590805, 6285247660610, 6285247880219,
         85247940475,   85247997301,   85247978041,   85247992024,
         85247933614,  628315219134,   85246775217,   85246819143,
         85246943123,   85247010011,   85247160610, 6285247248126,
       6285247310009, 6285247498115, 6285247594122, 6285247680013,
       6285247733180, 6285247831088,   85247980013,   85247994591,
         85247955407,   85247992691,   85247948307,    8524797060,
         85247947201,  628315285635,   85246798661,   85246910035,
         85247160505, 6285247276017, 6285247310011, 6285247440214,
       6285247575081, 6285247644105, 6285247760653, 6285247862301,
         85247975701,   85247927217,   85247922980,  628315290036,
         85246719013,   85246844105,   85246998103,   85247090805,
         85247127511, 6285247210035, 6285247310035, 6285247432137,
       6285247510550, 6285247698105, 6285247719901, 6285247843055,
         85247984057,   85247948205,   85247933012,   85247911572,
         85246794110,   85246860540,   85247092105,   85247160201,
       6285247248183, 6285247394110, 6285247490036, 6285247532216,
       6285247655016, 6285247854302,   85247990004,   85247930318,
         85247971111,   85247933710,   85247922204,   85247950315,
        628315245231,   85246843229,   85246929203,   85247093534,
         85247193534, 6285247223223, 6285247328806, 6285247494110,
       6285247555901, 6285247614609, 6285247792530, 6285247892105,
         85247971203,   85247968104,   85247998026,   85247992704,
        628315253209,   85246719140,   85246819140,    8524697109,
         85247094110,   85247155044, 6285247241042, 6285247333614,
       6285247475701, 6285247538401, 6285247676106, 6285247710035,
       6285247890036,   85247940214,   85247944052,    8524797036,
         85247993905,   62831528901,   85246794122,   85246832216,
         85246922153,   85247019140,   85247117602, 6285247219143,
        628524733301,  628524763301, 6285247719120, 6285247810024,
         85247922153,   85247948227,   85247914609,   85247992105,
         85247921044,  628315294122,   85246710801,   85246848227,
         85246994122,   85247077095,   85247148227, 6285247213021,
       6285247345503, 6285247475043, 6285247560653,    8524796360,
         85247953209,   85247922304,   85247910011,  628315219143,
         85246722153,   85246843615,   85246919140,   85247019120,
         85247187401, 6285247292503, 6285247490503, 6285247598105,
       6285247685204, 6285247819143,   85247978664,   85247985023,
         85247992054,   85247972701,  628315233433,   85246710011,
         85246910011,   85247097206,   85247148205, 6285247228403,
       6285247347201, 6285247410035, 6285247580027, 6285247677506,
       6285247777041, 6285247813021,   85247923464,   85247942420,
         85247998661,  628315292563,   85246728540,   85246885254,
         85246952601,   85247060653,   85247192037, 6285247298502,
       6285247398103, 6285247510011, 6285247620016,   85247945503,
          8524797601,   85247965109,   85247963376,  628315210035,
         85246861107,   85246933142,   85247094109,   85247119134,
       6285247392037, 6285247419143, 6285247643615, 6285247794122,
       6285247878521,   85247919143,   85247985204,  628315248227,
         85246710701,   85246850315,   85246994601,   85247028110,
         85247192105, 6285247220735, 6285247328205, 6285247490049,
       6285247677041, 6285247792503, 6285247877041,   85247930076,
         85247972401,   85247947374,   85247994509,   85246733030,
         85246846350,   85246990045,   85247048911,   85247144221,
       6285247289502, 6285247322801, 6285247555407, 6285247692025,
         85247948073,   85247961701,    8524793301,  628315290004,
         85246720852,   85246877070,    8524698701,   85247028540,
       6285247290036, 6285247333065, 6285247477041, 6285247580219,
       6285247628205, 6285247819134,   85247990036,   85247914215,
         85247933437,  628315210024,   85246710009,   85246839503,
         85246993727,   85247010009,   85247153209, 6285247219013,
       6285247432216, 6285247527834, 6285247611561, 6285247746350,
       6285247894122,   85247980027,   85247935630,   85247931204,
        628315252402,   85246732216,   85246878745,    8524692908,
         85247010035,   85247110009, 6285247294122, 6285247392105,
       6285247481001, 6285247594533, 6285247655106, 6285247794109,
       6285247822153,   85247931907,   85247977036,   85247991104,
          8524791841,  628315219120,   85246732725,   85246845231,
         85246942071,   85247028403,    8524711841, 6285247260653,
       6285247319120,  628524746360, 6285247594110, 6285247744052,
       6285247875220,    8524796457,   85247928540,   85247911520,
        628315260201,   85246894109,   85246977036,   85247040214,
         85247176106, 6285247290049, 6285247485705, 6285247590660,
       6285247680906, 6285247720735, 6285247894591,   85247984604,
         85247984062,   85247960505,   85247930080,  628315224153,
         85246743229,   85246910024,   85247085023,   85247175051,
       6285247492627, 6285247577041, 6285247793905, 6285247843229,
         85247944134,    8524792908,  628315280013,   85246760623,
         85246860653,   85246919134,   85247090008,   85247185023,
       6285247236608, 6285247331907,  628524742740, 6285247575061,
        628524766457, 6285247798103,  628524788360,   85247985301,
         85246714304,   85246927360,   85247092683,   85247194122,
       6285247238301, 6285247398115, 6285247590008,   85247975019,
         85246868104,   85247091767,   85247175220, 6285247219120,
       6285247389031, 6285247498105, 6285247818103,   85247919711,
         85247933142,   85247985281,   85247992677,    8524798302,
          8524792149,  628315243229,   85246792024,   85246813601,
         85246978207,   85247177095, 6285247292024, 6285247354915,
       6285247440475, 6285247598006, 6285247898103,   85247929203,
        628315275002,   85246790004,   85246830318,   85247079907,
       6285247235630, 6285247410024, 6285247523464, 6285247676051,
       6285247798502, 6285247890032,   85247975007,   85247919901,
         85247937167,  628315290049,   85246790008,   85246894601,
         85246919143,   85247055122,   85247110011, 6285247298031,
       6285247390049, 6285247410011, 6285247570506, 6285247744105,
       6285247897224,   85247920016,   85247960076,   85246898115,
         85247075217, 6285247277095, 6285247475023, 6285247523434,
       6285247794110,   85247946203,  628315275023,    8524677002,
         85246890008,   85246998115, 6285247285301, 6285247494122,
       6285247577070, 6285247810011,   85247943017,   85247928314,
         85247975081,  628315228540,   85246892037,   85247014609,
         85247128540, 6285247378207, 6285247494601, 6285247777095,
       6285247877095,   85247923434,   85247927405,   85247921215,
          8524682038,   85246953209,   85247053142, 6285247253711,
       6285247377041, 6285247466062, 6285247510024, 6285247695123,
       6285247775081, 6285247898002,   85247974133,   85247922801,
        628315298105,   85246860623,   85247097756,   85247127604,
       6285247231204, 6285247344105, 6285247474403, 6285247528110,
       6285247678745,  628524776450, 6285247830076,   85247928205,
         85247942104,   85247946614,  628315290032,   85246777041,
          8524686010,   85246910009,   85247078207,   85247180013,
       6285247243055, 6285247389015, 6285247598103, 6285247694122,
       6285247799207,   85247911561,   85247976248,  628315233012,
         85246745014,   85246892646,   85246932127,   85247097504,
         85247122901, 6285247259801, 6285247355407, 6285247433178,
       6285247529501], dtype=int64)

In [31]:
for i in range(len(data)):
    if int(str(data.loc[i,'Phone_Number'])[:1])==8:
        data.loc[i,'Phone_Number']=int('62'+str(data.loc[i,'Phone_Number']))

In [32]:
data.Domicile_Province.unique()

array(['DKI Jakarta', 'Jakarta', 'JKT', 'West Java', 'Jawa Barat',
       'Jabar', 'Bandung', 'Jakarta Selatan', 'South Jakarta',
       'East Jakarta', 'Purwokerto', 'Purwakarta', 'Yogyakarta', 'DIY',
       'Depok', 'Bogor', 'Bekasi', 'Tangerang Selatan', 'Kalideres',
       'Sukabumi', 'Bali', 'Denpasar'], dtype=object)

In [33]:
for i in range(len(data)):
    if data.loc[i,'Domicile_Province']=='Jakarta' or data.loc[i,'Domicile_Province']=='JKT' or data.loc[i,'Domicile_Province']=='Jakarta Selatan' or data.loc[i,'Domicile_Province']=='South Jakarta' or data.loc[i,'Domicile_Province']=='East Jakarta' or data.loc[i,'Domicile_Province']=='Kalideres':
        data.loc[i,'Domicile_Province']='DKI Jakarta'
    elif data.loc[i,'Domicile_Province']=='West Java' or data.loc[i,'Domicile_Province']=='Jabar' or data.loc[i,'Domicile_Province']=='Bandung' or data.loc[i,'Domicile_Province']=='Purwakarta' or data.loc[i,'Domicile_Province']=='Depok' or data.loc[i,'Domicile_Province']=='Bogor' or data.loc[i,'Domicile_Province']=='Bekasi' or data.loc[i,'Domicile_Province']=='Tangerang Selatan' or data.loc[i,'Domicile_Province']=='Sukabumi':
        data.loc[i,'Domicile_Province']='Jawa Barat'
    elif data.loc[i,'Domicile_Province']=='Purwokerto':
        data.loc[i,'Domicile_Province']='Jawa Tengah'
    elif data.loc[i,'Domicile_Province']=='Yogyakarta' or data.loc[i,'Domicile_Province']=='DIY':
        data.loc[i,'Domicile_Province']='DI Yogyakarta'
    elif data.loc[i,'Domicile_Province']=='Denpasar':
        data.loc[i,'Domicile_Province']='Bali'

In [34]:
data.sample(10)

,Employee_Id,Name,Gender,Edu_Level,Job_Category,Age,Score,Phone_Number,Domicile_Province
163,164,Julia Dunbar,Male,S2,Senior Staff Band 3,49,4.07,6285246994109,DKI Jakarta
53,54,Pete Armstrong,Female,S1,Functional Expert Band 3,37,4.54,6285247960462,DKI Jakarta
20,21,Erin Smith,Female,D3,Functional Expert Band 3,49,3.96,628315232935,Bali
721,722,Cindy Stewart,Male,S1,Functional Expert Band 2,38,4.07,6285246731907,Jawa Barat
287,288,Meg O Connel,Male,S2,Senior Staff Band 3,29,3.66,6285247310009,DKI Jakarta
809,810,Shaun Weien,Male,S1,Functional Expert Band 3,38,3.89,6285247523434,Jawa Barat
409,410,Guy Armstrong,Female,S1,Functional Expert Band 3,32,3.55,6285247528205,DI Yogyakarta
723,724,Jessica Myrick,Male,S1,Functional Expert Band 3,35,4.22,6285246990036,Jawa Barat
107,108,David Smith,Female,SLTA,Senior Staff Band 3,39,4.23,6285247348227,Jawa Barat
561,562,Joel Eaton,Male,S1,Senior Staff Band 3,25,4.39,6285246720852,Jawa Barat

In [35]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 930 entries, 0 to 929
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_Id        930 non-null    int64
 1   Name               930 non-null    object
 2   Gender             930 non-null    object
 3   Edu_Level          930 non-null    object
 4   Job_Category       930 non-null    object
 5   Age                930 non-null    int64
 6   Score              930 non-null    float64
 7   Phone_Number       930 non-null    int64
 8   Domicile_Province  930 non-null    object
dtypes: float64(1), int64(3), object(5)
memory usage: 65.5+ KB

In [36]:
data.to_excel("D:\Kerja\Dattabot\dataset_clean.xlsx")